.contact__wrapper {
    position: relative;
    top: -17px;
    background-color: #141A20;
    padding-top: 42px;
    padding-bottom: 39px;
    max-width: 1437px;
}

.contact__content {
    display: flex;
}

.company {
    margin-right: 71px;
}

.company__title {
    font-family: @Open;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.8461539149284363px;
    text-align: center;
    color: @light;
    width: 59px;
    margin-bottom: 19px;
}

.company__logo {
    margin-bottom: 16px;
}

.company__text {
    font-family: @Open;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    color: @light;
    opacity: 0.85;
    width: 250px;
}

.links__text {
    font-family: @Open;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.8461539149284363px;
    text-align: left;
    color: @light;
    margin-bottom: 10px;
}

.links__list {
    font-family: @Open;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.8461539149284363px;
    text-align: left;
    // color: @light;
    // .list-reset;
    text-decoration: none;
    list-style: none;
}   

.links__link {
    color: ;
    .list-reset;
    // text-decoration: none;
    // list-style: none;
}
