.header__top {
    padding-top: 41px;
    padding-bottom: 71px;
    background-image: url(../../img/header-imgbg.png);
    // height: 769px;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.header__startscreen {
    display: flex;
    flex-wrap: wrap;
}

.header__logo {
    margin-bottom: 317px;
    margin-left: 378px;
}

.header__title {
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 59px;
    line-height: 70px;
    letter-spacing: 5.709374904632568px;
    text-align: center;
    color: @light;
    margin-bottom: 21px;
    margin-left: 184px;
    max-width: 576px;
}

.header__text {
    font-family: @Open;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    color: @light;
    margin-left: 277px;
    margin-bottom: 221px;
}

.header__scroll {
    font-family: @Open;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 3.700000047683716px;
    text-align: center;
    color: @light;
    margin-left: 367px;
    margin-bottom: 20px;
}

.header__bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 24px
}

.header__bot-list {
    .list-reset;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

a:hover {
   color:  rgba(0, 164, 229, 1);   
   cursor: pointer;
}

a {
    .list-reset;
    color: @dark;
    text-decoration: none;
}

.header__bot-item01 {
    font-family: @Open;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 1.0909091234207153px;
    text-align: center;
    
    margin-right: 48px;
}

.header__bot-item02 {
    font-family: @Open;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1.0909091234207153px;
    text-align: center;
    color: @dark;
    margin-right: 42px;
}

.header__bot-item03 {
    font-family: @Open;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 1.0909091234207153px;
    text-align: left;
    color: @dark;
    margin-right: 39px;
}

.header__bot-item04 {
    font-family: @Open;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 1.0909091234207153px;
    text-align: left;
    color: @dark;
    margin-right: 30px;
}

.header__bot-item05 {
    font-family: @Open;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 1.0909091234207153px;
    text-align: left;
    color: @dark;
    margin-right: auto;
}