.work__wrapper {
    display: flex;
}

.project {
    padding-top: 38px;
    padding-right: 22px;
    padding-bottom: 39px;
    padding-left: 23px;
    border: 1px solid #E6E6E6;
    margin-right: 28px;
}

.project__icon {
    margin-bottom: 25px;
}

.project__title {
    font-family: @Open;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.4266666769981384px;
    text-align: left;
    color: @dark;
    margin-bottom: 13px;
}

.project__text {
    font-family: @Open;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.18750004470348358px;
    text-align: left;
    color: @dark;
    width: 250px;
}

.audit {
    padding-top: 38px;
    padding-right: 22px;
    padding-bottom: 39px;
    padding-left: 23px;
    border: 1px solid #E6E6E6;
    margin-right: 28px;
}

.audit__icon {
    margin-bottom: 25px;
}

.audit__title {
    font-family: @Open;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.4266666769981384px;
    text-align: left;
    color: @dark;
    margin-bottom: 13px;
}

.audit__text {
    font-family: @Open;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.18750004470348358px;
    text-align: left;
    color: @dark;
    width: 250px;
}

.factory {
    padding-top: 38px;
    padding-right: 22px;
    padding-bottom: 39px;
    padding-left: 23px;
    border: 1px solid #E6E6E6;
}

.factory__icon {
    margin-bottom: 25px;
}

.factory__title {
    font-family: @Open;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.4266666769981384px;
    text-align: left;
    color: @dark;
    margin-bottom: 13px;
}

.factory__text {
    font-family: @Open;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.18750004470348358px;
    text-align: left;
    color: @dark;
    width: 250px;
}